aext-assistant==UNKNOWN
aext-assistant-server==UNKNOWN
aext-core==UNKNOWN
aext-core-server==UNKNOWN
aext-panels==UNKNOWN
aext-panels-server==UNKNOWN
aext-project-filebrowser-server==UNKNOWN
aext-share-notebook==UNKNOWN
aext-share-notebook-server==UNKNOWN
aext-shared==UNKNOWN
aext-toolbox==UNKNOWN
aiobotocore==UNKNOWN
aiohttp==UNKNOWN
aioitertools==UNKNOWN
aiosignal==UNKNOWN
alabaster==UNKNOWN
alembic==UNKNOWN
altair==UNKNOWN
anaconda-anon-usage==UNKNOWN
anaconda-catalogs==UNKNOWN
anaconda-cli-base==UNKNOWN
anaconda-client==UNKNOWN
anaconda-cloud-auth==UNKNOWN
anaconda-navigator==UNKNOWN
anaconda-project==UNKNOWN
annotated-types==UNKNOWN
anyio==UNKNOWN
appdirs==1.4.4
archspec==UNKNOWN
argon2-cffi==UNKNOWN
argon2-cffi-bindings==UNKNOWN
arrow==UNKNOWN
astroid==UNKNOWN
astropy==UNKNOWN
astropy-iers-data==UNKNOWN
asttokens==UNKNOWN
async-lru==UNKNOWN
atomicwrites==1.4.0
attrs==UNKNOWN
Automat==UNKNOWN
autopep8==UNKNOWN
Babel==UNKNOWN
bcrypt==UNKNOWN
beautifulsoup4==UNKNOWN
binaryornot==UNKNOWN
black==UNKNOWN
bleach==UNKNOWN
blinker==UNKNOWN
bokeh==UNKNOWN
boltons==UNKNOWN
botocore==UNKNOWN
Bottleneck==UNKNOWN
Brotli==UNKNOWN
cachetools==UNKNOWN
certifi==UNKNOWN
cffi==UNKNOWN
chardet==UNKNOWN
charset-normalizer==UNKNOWN
click==UNKNOWN
cloudpickle==UNKNOWN
colorama==UNKNOWN
colorcet==UNKNOWN
comm==UNKNOWN
conda==UNKNOWN
conda-build==UNKNOWN
conda-content-trust==UNKNOWN
conda-libmamba-solver==UNKNOWN
conda-pack==UNKNOWN
conda-package-handling==UNKNOWN
conda-repo-cli==UNKNOWN
conda-token==UNKNOWN
conda_index==UNKNOWN
conda_package_streaming==UNKNOWN
constantly==UNKNOWN
contourpy==UNKNOWN
cookiecutter==UNKNOWN
cryptography==UNKNOWN
cssselect==UNKNOWN
cycler==UNKNOWN
cytoolz==UNKNOWN
dask==UNKNOWN
dask-expr==UNKNOWN
datashader==UNKNOWN
debugpy==UNKNOWN
decorator==UNKNOWN
defusedxml==UNKNOWN
diff-match-patch==UNKNOWN
dill==UNKNOWN
distributed==UNKNOWN
distro==UNKNOWN
docstring-to-markdown==UNKNOWN
docutils==UNKNOWN
entrypoints==UNKNOWN
et-xmlfile==UNKNOWN
executing==UNKNOWN
fastjsonschema==UNKNOWN
filelock==UNKNOWN
flake8==UNKNOWN
Flask==UNKNOWN
fonttools==UNKNOWN
frozendict==UNKNOWN
frozenlist==UNKNOWN
fsspec==UNKNOWN
gensim==UNKNOWN
gitdb==UNKNOWN
GitPython==UNKNOWN
greenlet==UNKNOWN
h11==UNKNOWN
h5py==UNKNOWN
HeapDict==UNKNOWN
holoviews==UNKNOWN
httpcore==UNKNOWN
httpx==UNKNOWN
hvplot==UNKNOWN
hyperlink==UNKNOWN
idna==UNKNOWN
imagecodecs==UNKNOWN
imageio==UNKNOWN
imagesize==UNKNOWN
imbalanced-learn==UNKNOWN
importlib-metadata==UNKNOWN
incremental==UNKNOWN
inflection==UNKNOWN
iniconfig==UNKNOWN
intake==UNKNOWN
intervaltree==UNKNOWN
ipykernel==UNKNOWN
ipython==UNKNOWN
ipython-genutils==UNKNOWN
ipywidgets==UNKNOWN
isort==UNKNOWN
itemadapter==UNKNOWN
itemloaders==UNKNOWN
itsdangerous==UNKNOWN
jaraco.classes==UNKNOWN
jedi==UNKNOWN
jellyfish==UNKNOWN
Jinja2==UNKNOWN
jmespath==UNKNOWN
joblib==UNKNOWN
json5==UNKNOWN
jsonpatch==UNKNOWN
jsonpointer==2.1
jsonschema==UNKNOWN
jsonschema-specifications==UNKNOWN
jupyter==UNKNOWN
jupyter-console==UNKNOWN
jupyter-events==UNKNOWN
jupyter-lsp==UNKNOWN
jupyter_client==UNKNOWN
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab-pygments
jupyterlab-widgets
jupyterlab_server
keyring
kiwisolver
lazy-object-proxy
lazy_loader
lckr_jupyterlab_variableinspector
libarchive-c
libmambapy
linkify-it-py
llvmlite
lmdb
locket
lxml
lz4
Mako
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mccabe
mdit-py-plugins
mdurl
menuinst
mistune
mkl-fft
mkl-random
mkl-service==2.4.0
more-itertools
mpmath
msgpack
multidict
multipledispatch
mypy
mypy-extensions
navigator-updater
nb_conda_kernels
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nltk
notebook
notebook_shim
numba
numexpr
numpy==1.26.4
numpydoc
openpyxl
overrides
packaging
pandas==2.2.2
pandocfilters
panel
param
paramiko
parsel
parso
partd
pathspec
patsy
pexpect
pickleshare
pillow
pkce
pkginfo
platformdirs
plotly
pluggy
ply
prometheus-client
prompt-toolkit
Protego
protobuf==3.20.3
psutil
ptyprocess==0.7.0
pure-eval
py-cpuinfo
pyarrow
pyasn1
pyasn1-modules==0.2.8
pycodestyle
pycosat
pycparser
pyct
pycurl==7.45.2
pydantic
pydantic-settings
pydantic_core
pydeck
PyDispatcher
pydocstyle
pyerfa
pyflakes
Pygments
PyJWT
pylint
pylint-venv
pyls-spyder==0.4.0
PyNaCl
pyodbc
pyOpenSSL
pyparsing
PyQt5==5.15.10
PyQt5-sip
PyQtWebEngine==5.15.6
PySocks
pytest
python-dateutil
python-dotenv
python-json-logger
python-lsp-black
python-lsp-jsonrpc
python-lsp-server
python-slugify
python-snappy
pytoolconfig
pytz
pyviz_comms
pywavelets
pywin32==305.1
pywin32-ctypes
pywinpty==2.0.10
PyYAML
pyzmq
QDarkStyle
qstylizer==0.2.2
QtAwesome
qtconsole
QtPy
queuelib
readchar
referencing
regex
requests
requests-file
requests-toolbelt
rfc3339-validator
rfc3986-validator
rich
rope
rpds-py
Rtree
ruamel-yaml-conda
ruamel.yaml
s3fs
scikit-image
scikit-learn
scipy==1.13.1
Scrapy
seaborn
semver
Send2Trash
sentry-sdk
service-identity
setuptools==69.5.1
shellingham
sip
six
smart-open
smmap
sniffio
snowballstemmer
sortedcontainers
soupsieve
Sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
spyder
spyder-kernels
SQLAlchemy
stack-data
statsmodels
streamlit
sympy
tables
tabulate
tblib
tenacity
terminado
text-unidecode
textdistance
threadpoolctl
three-merge
tifffile
tinycss2
tldextract
toml
tomli
tomlkit
toolz
tornado
tqdm
traitlets
truststore
Twisted
twisted-iocpsupport
typer
typing_extensions
tzdata
uc-micro-py
ujson
unicodedata2
Unidecode
urllib3
w3lib
watchdog
wcwidth
webencodings
websocket-client
Werkzeug
whatthepatch
wheel==0.43.0
widgetsnbextension
win-inet-pton
wrapt
xarray
xlwings
xyzservices
yapf
yarl
zict
zipp
zope.interface
zstandard
